* {
   box-sizing: border-box;
}

footer, header {
    display: block;
}

body {
    background: $dgrey;
    margin: 0;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 {
    margin: 0 0 20px;
    color: $dgrey;
    font-size: 18px;
    font-weight: 400;
}

.centre {
    width: 100%;
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
    padding: 20px;
    overflow: hidden;
}

.checkbox-hack {
    display: none;
}

#main {
    background: $lgrey;
    overflow: hidden;
}

a img {
    border: 0;
}

@media (min-width: 480px) {
    h2 {
        font-size: 20px;
    }
}

@media (min-width: 800px) {
    h2 {
        margin-bottom: 40px;
        font-size: 24px;
    }

    .centre {
        padding: 40px;
    }
}

@media (min-width: 1200px) {
    .col-l {
        width: 49%;
        float: left;
        margin-right: 1%;
    }

    .col-r {
        width: 49%;
        float: right;
        margin-left: 1%;
    }
}