@font-face {
    font-family: 'icomoon';
    src:url('/fonts/icomoon.eot?bg470b');
    src:url('/fonts/icomoon.eot?#iefixbg470b') format('embedded-opentype'),
        url('/fonts/icomoon.woff?bg470b') format('woff'),
        url('/fonts/icomoon.ttf?bg470b') format('truetype'),
        url('/fonts/icomoon.svg?bg470b#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    color: $mgrey;
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-map:before {
    content: "\6d";
}
.icon-time:before {
    content: "\74";
}
.icon-user:before {
    content: "\75";
}
.icon-cancel:before {
    content: "\78";
}
.icon-add:before {
    content: "\2b";
}
.icon-exit:before {
    content: "\65";
}
.icon-pc:before {
    content: "\70";
}