@font-face {
    font-family: 'icomoon';
    src:url('/fonts/icomoon.eot?vco2wv');
    src:url('/fonts/icomoon.eot?#iefixvco2wv') format('embedded-opentype'),
        url('/fonts/icomoon.woff?vco2wv') format('woff'),
        url('/fonts/icomoon.ttf?vco2wv') format('truetype'),
        url('/fonts/icomoon.svg?vco2wv#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    color: $mgrey;
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-assisting:before {
    content: "\61";
}
.icon-map:before {
    content: "\6d";
}
.icon-time:before {
    content: "\74";
}
.icon-user:before {
    content: "\75";
}
.icon-cancel:before {
    content: "\78";
}
.icon-add:before {
    content: "\2b";
}
.icon-exit:before {
    content: "\65";
}
.icon-pc:before {
    content: "\70";
}
.icon-spinner:before {
    content: "\73";
    font-size: 40px;
    text-align: center;
    display: block;
    animation: spinner .7s infinite linear;
}

@keyframes spinner {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}