h2 {
    margin: 0 0 20px;
    color: $dgrey;
    font-weight: normal;
}

#workshop-cards {
    padding: 1px;
    overflow: hidden;
}

.workshop-card {
    width: 100%;
    min-height: 190px;
    background: #FFF;
    border-radius: 5px;
    float: left;
    margin-bottom: 20px;
    padding: 20px;
    overflow: hidden;
    color: $dgrey;
    text-decoration: none;

    &:last-child {
        margin-bottom: 0;
    }

    &:hover {
        box-shadow: 0 0 2px $dgrey;
    }

    img {
        width: 40px;
        border-radius: 5px;
        margin-left: 10px;
        margin-bottom: 10px;
        float: right;
    }

    span {
        display: block;
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.workshop-card-title {
    font-size: 20px;
    font-weight: bold;
}

.workshop-card--add {
    font-size: 40px;
    text-align: center;
    line-height: 150px;
}

@media (min-width: 800px) {
    h2 {
        margin-bottom: 40px;
    }

    .workshop-card {
        width: 49%;
        margin-left: 1%;
        margin-right: 1%;
    }

    .workshop-card:nth-child(even) {
        margin-right: 0;
    }

    .workshop-card:nth-child(odd) {
        margin-left: 0;
    }
}

@media (min-width: 1200px) {
    .workshop-card {
        width: 23.5%;
    }

    .workshop-card:nth-child(even) {
        margin-right: 1%;
    }

    .workshop-card:nth-child(odd) {
        margin-left: 1%;
    }

    .workshop-card:nth-child(4n+1) {
        margin-left: 0;
    }

    .workshop-card:nth-child(4n+4) {
        margin-right: 0;
    }
}