#workshop-cards {
    padding: 1px;
    overflow: hidden;
}

.workshop-card {
    width: 100%;
    background: #FFF;
    border-radius: 5px;
    float: left;
    position: relative;
    margin-bottom: 20px;
    padding: 20px;
    overflow: hidden;
    color: $dgrey;
    text-decoration: none;

    &:last-child {
        margin-bottom: 0;
    }

    &:hover {
        box-shadow: 0 0 2px $dgrey;
    }

    img {
        width: 40px;
        border-radius: 5px;
        margin-left: 10px;
        margin-bottom: 10px;
        float: right;
    }

    span {
        display: block;
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.workshop-card-title {
    font-size: 20px;
    font-weight: 600;
}

.workshop-card-end {
    width: 80px;
    height: 55px;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 28px;
    text-align: center;
    line-height: 55px;

    &:hover {
        border-color: $mgrey;

        i {
            color: $dgrey;
        }
    }
}

.workshop-card--add {
    font-size: 40px;
    text-align: center;
}

@media (min-width: 800px) {
    .workshop-card {
        width: 49%;
        min-height: 200px;
        margin-left: 1%;
        margin-right: 1%;
    }

    .workshop-card:nth-child(even) {
        margin-right: 0;
    }

    .workshop-card:nth-child(odd) {
        margin-left: 0;
    }

    .workshop-card--add {
        line-height: 150px;
    }
}

@media (min-width: 1200px) {
    .workshop-card {
        width: 23.5%;
        min-height: 230px;
    }

    .workshop-card:nth-child(even) {
        margin-right: 1%;
    }

    .workshop-card:nth-child(odd) {
        margin-left: 1%;
    }

    .workshop-card:nth-child(4n+1) {
        margin-left: 0;
    }

    .workshop-card:nth-child(4n+4) {
        margin-right: 0;
    }

    .workshop-card--add {
        line-height: 180px;
    }
}