// map modal

#map-modal {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
    padding: 20px;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 3;
    text-align: center;

    h2 {
        color: $lgrey;
    }

    img {
        width: 100%;
    }
}

#map-modal.map-modal--show {
    display: block;
}

#map-modal-wrapper {
    width: 100%;
    max-width: 1120px;
    margin: auto;
    position: relative;
}

@media (min-width: 800px) {
    #map-modal {
        padding: 40px;
    }
}

// map

.map {
    width: 100%;
    border: 5px solid #CCC;
    display: table;
}

.row {
    display: table-row;
}

.cell {
    width: 50px;
    height: 50px;
    display: table-cell;
    position: relative;
    padding-top: 25px;
    text-align: center;
}

.cell-label {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 1;
    color: #CCC;
    line-height: 30px;
}

.cell input {
    position: relative;
    cursor: pointer;
    z-index: 2;
}

.cell input:checked + .cell-label {
    box-shadow: inset 0 0 2px #69C;
}

.cell--pc {
    background: #EEE;
    box-shadow: inset 0 0 1px #CCC;

    &:hover {
        box-shadow: inset 0 0 1px #666;
    }
}

.cell--empty,
.cell--door {
    background: #FFF;
}

.cell--door i {
    position: relative;
    top: -10px;
}

.cell--active {
    box-shadow: inset 0 0 2px #69C;
}

@media (min-width: 800px) {
    .cell {
        width: 60px;
        height: 60px;
        padding-top: 30px;
    }

    .cell-label {
        line-height: 40px;
    }
}