#request-assistance-btn {
    width: 100%;
    height: 80px;
    display: block;
    position: relative;
    cursor: pointer;
    color: $mgrey;
    line-height: 80px;
    overflow: hidden;
    white-space: nowrap;

    &:hover {
        color: $dgrey;
    }

    &:hover i {
        color: $dgrey;
    }

    i {
        width: 60px;
        display: inline-block;
        font-size: 25px;
        text-align: center;
    }

    span {
        display: inline-block;
        font-size: 20px;
        text-indent: -4px;
    }
}

#request-assistance-toggle:checked + #request-assistance-modal {
    display: block;
}

#request-assistance-modal {
    width: 100%;
    background: #FFF;
    border-radius: 5px;
    display: none;
    position: relative;
    padding: 20px;

    &:before {
        content: '';
        width: 0;
        height: 0;
        border-left: 16px solid transparent;
        border-right: 16px solid transparent;
        border-bottom: 16px solid #FFF;
        position: absolute;
        top: -15px;
        left: 14px;
    }
}

.request-assistance-form-row {
    min-height: 40px;
    margin-bottom: 20px;
    overflow: hidden;

    > label,
    input {
        display: inline-block;
    }

    > label {
        width: 20%;
        float: left;
        color: $mgrey;
        font-size: 14px;
        line-height: 40px;
    }

    input[type=text] {
        width: 80%;
        height: 100%;
        background: $lgrey;
        border: 0;
        outline: 0;
        float: right;
        margin: 0;
        padding: 10px;
        color: $blue;

        &:focus {
            outline: 1px solid $blue;
        }
    }

    #request-submit {
        width: 115px;
        float: right;
        padding: 5px;
        cursor: pointer;
        color: $mgrey;
        font-size: 20px;
        text-align: right;
        line-height: 40px;

        &:hover {
            color: $dgrey;
        }

        &:hover i {
            color: $dgrey;
        }

        i {
            margin-right: 10px;
        }
    }

    &:last-child {
        margin-bottom: 0;
    }
}

#request-map-wrapper {
    width: 80%;
    float: left;
    position: relative;
}

#request-assistance-spinner {
    display: none;
}

.requesting {
    .request-assistance-form-row {
        display: none;
    }

    #request-assistance-spinner {
        display: inline;
    }
}

@media (min-width: 480px) {
    .request-assistance-form-row {
        > label {
            width: 13%;
        }

        input[type=text] {
            width: 87%;
        }
    }

    #request-map-wrapper {
        width: 87%;
    }
}

@media (min-width: 800px) {
    #request-assistance-btn {
        height: 100px;

        i {
            width: 80px;
            line-height: 100px;
            font-size: 30px;
        }

        span {
            font-size: 30px;
        }
    }

    #request-assistance-modal {
        &:before {
            left: 25px;
        }
    }

    .request-assistance-form-row {
        > label {
            font-size: 20px;
        }

        #request-submit {
            width: 164px;
            font-size: 30px;
        }
    }
}