.user-slot {
    width: 100%;
    min-height: 60px;
    background: #FFF;
    border-radius: 5px;
    position: relative;
    margin-bottom: 20px;
    cursor: pointer;

    &:hover {
        box-shadow: 0 0 2px $dgrey;

        & .user-order {
            color: $dgrey;
        }
    }
}

.user-order,
.user-cancel {
    width: 50px;
    position: absolute;
    color: $mgrey;
    text-align: center;
    line-height: 60px;
}

.user-order {
    font-size: 30px;
}

.user-cancel {
    border-left: 1px solid $lgrey;
    display: block;
    right: 0;
    z-index: 2;
    font-size: 20px;

    &:hover {
        border-left: 1px solid $mgrey;
    }

    &:hover i {
        color: $dgrey;
    }
}

.user-info {
    width: 100%;
    display: block;
    position: absolute;
    padding: 0 50px;
    line-height: 60px;

    & > span {
        display: block;
        float: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.user-name {
    width: 72%;
    color: $blue;
    font-size: 16px;
}

.user-seat {
    width: 28%;
    padding-right: 10px;
    color: $mgrey;
    font-size: 14px;
    text-align: right;
}

@media (min-width: 480px) {
    .user-slot {
        min-height: 80px;
    }

    .user-order,
    .user-cancel {
        width: 60px;
        line-height: 80px;
    }

    .user-order {
        font-size: 40px;
    }

    .user-cancel {
        font-size: 25px;
    }

    .user-info {
        padding: 0 60px;
        line-height: 80px;
    }

    .user-name {
        width: 80%;
        font-size: 20px;
    }

    .user-seat {
        width: 20%;
    }
}

@media (min-width: 800px) {
    .user-slot {
        min-height: 100px;
    }

    .user-order,
    .user-cancel {
        width: 80px;
        line-height: 100px;
    }

    .user-order {
        font-size: 60px;
    }

    .user-cancel {
        font-size: 30px;
    }

    .user-info {
        padding: 0 80px;
        font-size: 30px;
        line-height: 100px;
    }

    .user-seat {
        padding-right: 20px;
        font-size: 20px;
    }
}